/* Feedback Form  styling */
body {
    background-image: url("../images/food_bg.jpg");
    background-size: cover;
}

/* Form Styling */
.feedback-form {
    color: rgb(255, 95, 122);
    font-size: 20px;
    text-align: center;
    width: 40%;
    height: fit-content;
    background-color: rgba(20,20,20,0.9);
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    border-radius: 10px;
}

/* Button Styling */
.button {
    padding: 10px 30px;
    margin: 10px;
}

/* P tag styling */
p.form {
    color: rgb(255, 95, 122);
}

