/* Layout style for gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
}

/* Column styling for gallery */
.column {
    flex: 32%;
    max-width: 32%;
    padding: 0 4px;
}

/* Image styling in the gallery */
.column img {
    vertical-align: middle;
    width: 100%;
    border-radius: 10px;
}

/* Box styling for image and title */
.image-box {
    margin-top: 8px;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    text-align: center;
}

/* Hover effect for image box */
.image-box:hover {
    opacity: 0.7;
}

/* Title styling */
.imgtext {
    margin-left: 5px;
    margin-right: 5px;
}

/* Modal Styling */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
}

/* Styling the modal on disolay */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Title & comment of image) */
.caption-text {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
  
/* zoom in animation for the Modal */
.modal-content, .caption-text {
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* Zoom Animation */
@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}
  
/* The close Button styling*/
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
  
/* Close button effects on hover and focus */
.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
