/* Background Image */
body {
    background-image: url("../images/sourcelog.jpg");
    background-size: cover;
}

/* Style background and box around source log */
.sourcelog-container {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
}

/* Center the source log title */
.title {
    text-align: center;
}

/* Table Styling for source log */
table.log-table {
    width: 100%;
    border: 1px solid #CCCCCC;
    border-bottom: 5px solid rgb(51, 102, 153);
    border-collapse: collapse;
}

/* Caption size */
caption {
    color: white;
    font-size: 20px;
}

/* Style category fields */
td.category {
    text-align: center;
    font-weight: bold;
    background-color: skyblue;
}

/* Style table headers and data */
th, td.log-data {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

/* Style table header */
th {
    background-color: rgb(51, 102, 153);
    color: white;
    font-size: 18px;
}

/* Link styling */
a {
    color: rgb(178,139,245);
}